body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: black;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.4rem;
}
span {
  font-size: 1.4rem;
}

button {
  width: max-content;
  background-color: #343333;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  border: 1px solid white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* common classes */

.grid {
  display: grid;
}
.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}
.flex {
  display: flex;
}
.container {
  width: 110rem;
  margin: auto;
}
.navlink {
  text-decoration: none;
}
/* header section starts here  */

.header-section {
  width: 100%;
  background-color: #343333;
  height: 10rem;
  align-content: center;

  & .logo h1 {
    font-size: 3.2rem;
  }
}
.nav-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.4rem;
  list-style: none;
  & li {
    font-size: 1.8rem;
  }
}

/* home (hero) section  */

.hero-section {
  & .container {
    place-items: center;
    gap: 5rem;
    margin: 4rem auto;
  }
  img {
    width: 100%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

/* about section */
.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-about {
  & .container {
    margin: 4rem auto;
  }
  & span {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.7);
  }
  & p {
    font-size: 1.2rem;
  }
}

.about-cards {
  display: grid;
  margin: 4rem 0rem;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 991px) {
  .about-cards {
    grid-template-columns: 1fr;
  }
}
.card {
  border: 1px solid rgb(148, 145, 145);
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
  margin: 1rem;
  background-color: rgb(62, 60, 60);
  max-width: 35rem;
  min-height: 35rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.02rem;

  & .cardTitle {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

/* contact Section  */
.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42.5rem;
  gap: 2.5rem;

  & input {
    width: 100%;
    border: 1px solid white;

    height: 4rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    background-color: transparent;
  }
  & textarea {
    width: 100%;
    height: 15rem;
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid white;

    background-color: transparent;
  }
  & button {
    width: 100%;
    text-align: left;
  }
}
.contact {
  margin: 5rem;
  & .container {
    display: flex;
    justify-content: center;
  }
}

/* footer section  */
.footer-section {
  width: 100%;
  background-color: #343333;
  height: 10rem;
  align-content: center;

  .find,
  .call,
  .mail {
    justify-content: center;
    gap: 2rem;
  }

  & .icon {
    font-size: 4rem;
  }
}

/* loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  -webkit-animation: l1 1s infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

p/* country section   */
.countryCard {
  min-width: 100px;
  min-height: 200px;
  border: 1px solid white;
}

.countryimage {
  size: 20px;
  & img {
    width: 100%;
    height: 20rem;
    object-fit: contain;
  }
}
