* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5 {
  color: white;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: white;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #2e86c1;
  }
}
button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: poppins;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background-color: #ede3e3;
  color: rgb(10, 10, 10);
  border-radius: 1.5rem;
  /* margin-top: 1.6rem; */
  padding: 0.6rem 2rem;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.error-button {
  display: inline-block;
  margin: 2rem auto;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border: 0.1rem solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.container {
  max-width: 998px;
  margin: auto;
}
/* common */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-heading {
  font-size: 2.8rem;
  text-align: center;
}

/*  hero ssection */
.hero-section {
  width: 100vw;
  margin-bottom: 3rem;
}
.hero-heading {
  font-size: 3.2rem;
}

.hero-para {
  font-size: 1.4rem;
  margin: 2rem 0;
}
.hero-image img {
  width: 100%;
  height: 100%;
}
.heroButton:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

/* Header section */
.header-section {
  height: 100px;
  position: relative;
  background-color: #202020;
  margin-bottom: 3rem;

  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

  .container {
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  .nav {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }
}
.header-logo {
  font-size: 2.8rem;
  font-weight: Bold;

  text-transform: uppercase;
  a {
    color: white;
  }
}

/* about section */

/* card comp */
.card-container {
  h1 {
    font-size: 2.4rem;
  }
  min-width: 20rem;
  line-height: 1.5;
  border: 0.1rem solid rgb(162, 162, 139);
  border-radius: 20px 0 20px 0;
  display: inline-block;
  padding: 2rem;
  background: #000000;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(38, 36, 36, 1) 52%,
    rgba(3, 2, 2, 1) 95%
  );

  span {
    font-weight: bold;
    color: #7c7b7b;
  }
}

.cards {
  margin: 3.5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 3rem;
}

/* contact section  */

.contact-section {
  margin-bottom: 5rem;
}
.form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  justify-content: center;

  input,
  textarea {
    padding: 1.2rem;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: white;
  }
  textarea {
    height: 10rem;
  }
  button {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #202020;
    border: 2px solid #ede3e3;
  }
}

/* footer component  */
.footercomp {
  color: white;
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}

/* footer section  */
.footer-section {
  background-color: #1d1b1b;
  color: white;

  .container .details ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  span {
    color: goldenrod;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.copyright-section {
  width: 100%;
  background-color: #5a5858;
  .container {
    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
      gap: 2rem;
    }
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .Outlet {
    flex: 1;
    place-content: center;
  }
}

/*Country card */
.country-section {
  display: grid;
  position: relative;
  z-index: 9999;
}
.country-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* letter-spacing: 1; */
  img {
    width: 18.5rem;
    height: 10rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.4rem;
  }
  p span {
    color: #7c7b7b;
    text-transform: capitalize;
  }
}
.read-more-button {
  background-color: transparent;
  border: 0.1rem solid white;
  color: white;
  width: max-content;
  font-size: 1.4rem;
}

/*loading section */
.loading-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* readmore section */

.readmore {
  display: flex;
  gap: 10rem;
  align-items: center;
  img {
    width: 50%;
  }
  p,
  span {
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 2;
  }
}

/* Active class from NavLink*/
.active {
  color: #2e86c1;

  :hover {
    color: #2e86c1;
    font-size: 3rem;
  }
}

/* country-section */

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  input {
    width: 35rem;
    height: 3.5rem;
    color: white;
    background-color: transparent;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}
/* dropdown menu  */
.Sort-filter {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
  height: 4rem;
  color: white;
  /*overflow: hidden;
  */
  border-radius: 1rem 1rem 0 0;
  border: 2px solid white;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
}
.dropdown {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  button,
  a {
    background-color: transparent;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
  }
}
.dropdown-menu {
  position: absolute;
  left: -2;
  width: 18rem;
  z-index: 10000;
  border: 2px solid white;
  background-color: rgb(28, 26, 26);

  button {
    border-radius: 0;
    border-bottom: 1px solid white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
